@media screen and (min-width: 769px) {
  #menu {
    display: none;
  }

  nav {
    display: flex;
    align-items: flex-end;
  }
  ul.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;

  }

  #hero button {
    padding: 2rem;
    font-size: 1.5rem;
  }
}