@media screen and (min-width: 769px) {
  #menu {
    display: none;
  }

  nav {
    display: flex;
    align-items: flex-end;
  }
  ul.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;

  }

  .active {
    background-color: var(--accent-hover);
    color: var(--accent-hover);
  }

  #hero button {
    padding: 2rem;
    font-size: 1.5rem;
  }
  
  #currentEvents {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;;
  }
  #spotlight {
    display: flex;
    justify-content: space-evenly;
  }
}