@media screen and (min-width: 769px) {
  main {
    display: grid;
    grid-column: 1 / 3;
  }
  h1 {
    grid-column: 1/ 4;
  }

  #menu {
    display: none;
  }

  nav {
    display: flex;
    align-items: flex-end;
  }
  ul.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;

  }

  .course-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
  }

  .course-list p {
    grid-column: 1 / 4;
    text-align: center;
  }
}