@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

 main {
    display: block;
 }

  #menu {
    display: block;
  }

  ul.navbar {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
  }

  ul.navbar.show {
    display: flex;
  }

  .course-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

}

@media screen and (min-width: 769px) {
  main {
    grid-column: 1 / 3;
  }
  h1 {
    grid-column: 1/ 4;
  }

  #menu {
    display: none;
  }

  ul.navbar {
    display: flex;
    align-items: left;
  }
}