:root {
/* Color Variables taken to resemble vscode */
  --bg-dark: #1e1e1e;
  --bg-darker: #121212;
  --bg-light: #2d2d2d;
  --text-light: #d4d4d4;
  --accent-blue: #007acc;
  --accent-hover: #3399ff;
  --aside-bg: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    font-family: "Bitcount Grid Single", system-ui;
    background-color: var(--bg-dark);
    color: var(--text-light);
}

header {
    display: block;
    grid-column: 1 / 4;
    text-align: left;
    background-color: var(--bg-darker);
    font-size: 1.5rem;
    padding-top: 1rem;
}

header span {
    margin-left: 1rem;
}

header span img {
    vertical-align: middle;
    margin-right: 0.5rem;
}

main {
    display: block;
    text-align: center;
}

h1 {
    grid-column: 1 / 4;
    text-align: left;
    margin-left: 1rem;    
}

h2 {
    align-items: center;
    margin-bottom: 1rem;
    color: white;
    background-color: var(--accent-blue);
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;

}
section {
    padding: 1rem;
}

nav {
    background-color: var(--bg-darker);
}

ul {
    list-style: none;;
}

ul.navbar {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}

ul.navbar.show {
    display: flex;
}

ul.navbar li {
    padding: 0.5rem 0;
}

.navbar a {
    color: var(--accent-blue);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.navbar a:hover {
    background-color: var(--accent-hover);
    color: #fff;
}

#menu {
    display: block;
    margin-top: 1rem;
    padding: 0.5rem;
}

.courses {
    grid-column: 1 / 4;
}

.courses button {
    width: 25%;
    background-color: var(--bg-light);
    color: #fff;
    border: 2px solid var(--accent-blue);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.course-list {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 0;
    gap: 1rem;
}

.course-list li {
    background-color: var(--bg-light);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--accent-blue);
    color: #ff8d4b;
}

li.completed{
    background-color: var(--bg-darker);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--accent-blue);
    color: #8ef08e;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: .25rem;
    padding: 1rem;
    background-color: var(--bg-light);
    border: 2px solid var(--accent-blue);
    color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
}

::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

dialog button {
    color: black;
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 10px;
}


footer {
    grid-column: 1 / 4;
    background-color: var(--bg-darker);
    padding: 1rem;
    text-align: center;
}

footer span img {
    padding: 1rem 2rem;
}