:root {
    --primary-color: #171a21;  
   	--accent-color-dark-bg: #1B9AAA;    
   	--accent-color-light-bg: #1382d1; 
   	--secondary-color: #e6e1e1; 
  	--bg-color: #222a41;
   	--font-light: #F5F5F5;

    --heading-font: 'Orbitron', sans-serif;
   	--body-font: 'Roboto Condensed', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    
}

body {
    background-color: var(--primary-color);
    color: var(--font-light);

}

h1, h2, h3 {
    font-family: var(--heading-font);
    color: var(--font-light);
    padding: 1rem;
    margin: 2rem;
}

p {
    margin: 2rem;
    line-height: 1.5;
}

h1, nav, footer {
    text-align: center;
}

nav {
    background-color: var(--bg-color);
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

nav a {
    color: var(--font-light);
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
}

nav a:hover {
    background-color: var(--accent-color-light-bg);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 1rem;  
}

footer {
    background-color: var(--bg-color);
    padding: 0.5rem;
    color: var(--font-light);
}

.socials {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: 0 auto;
    padding: 0.5rem;
}